.Text_Simple
{
	font-family: open-sans-n3, sans-serif;
}

.Title_Small
{
	font-family: fira-sans-n7, sans-serif;
}

.h3
{
	font-family: krona-one-n4, sans-serif;
}

#u1374-6
{
	font-family: kreon-n7, serif;
}

#u1371-4
{
	font-family: kreon-n3, serif;
}

#u1348-4
{
	font-family: kreon-n3, serif;
}

#u1356-4
{
	font-family: kreon-n3, serif;
}

#u1342-4
{
	font-family: kreon-n3, serif;
}

#u1365-4
{
	font-family: kreon-n3, serif;
}

