.version.index /* version checker */
{
	color: #000005;
	background-color: #187DDF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1050px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 71px;
	padding-bottom: 10px;
	width: 0.01px;
}

#pu1374-6
{
	width: 0.01px;
	margin-left: 19px;
}

#u1374-6
{
	z-index: 78;
	width: 311px;
	min-height: 28px;
	margin-right: -10000px;
}

#menuu1338
{
	z-index: 47;
	width: 394px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 604px;
}

#u1367
{
	width: 68px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1368
{
	width: 68px;
	padding-bottom: 6px;
}

#u1368.MuseMenuActive
{
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u1371-4
{
	width: 39px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u1368:hover #u1371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u1368.MuseMenuActive #u1371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u1346
{
	width: 103px;
	min-height: 22px;
	margin-right: -10000px;
	left: 70px;
}

#u1347
{
	width: 103px;
	padding-bottom: 6px;
}

#u1347.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1348-4
{
	width: 74px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u1347:hover #u1348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1347.MuseMenuActive #u1348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1353
{
	width: 69px;
	min-height: 22px;
	margin-right: -10000px;
	left: 175px;
}

#u1354
{
	width: 69px;
	padding-bottom: 6px;
}

#u1354:hover
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u1354.MuseMenuActive
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u1356-4
{
	width: 40px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u1354:hover #u1356-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u1354.MuseMenuActive #u1356-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u1339
{
	width: 64px;
	min-height: 22px;
	margin-right: -10000px;
	left: 246px;
}

#u1340
{
	width: 64px;
	padding-bottom: 6px;
}

#u1340.MuseMenuActive
{
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u1342-4
{
	width: 35px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u1340:hover #u1342-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u1340.MuseMenuActive #u1342-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u1360
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	left: 312px;
}

#u1363
{
	width: 82px;
	padding-bottom: 6px;
}

#u1363:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u1363.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u1365-4
{
	width: 54px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u1363:hover #u1365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1363.MuseMenuActive #u1365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu1155
{
	z-index: 84;
	width: 0.01px;
	height: 480px;
	left: -100px;
	margin-top: 30px;
	position: relative;
}

#u1165
{
	position: absolute;
	width: 1220px;
	height: 480px;
	background-color: transparent;
}

#u1165popup
{
	z-index: 85;
}

#u1505
{
	z-index: 86;
	width: 1220px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1717
{
	z-index: 88;
	width: 1220px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1821
{
	z-index: 90;
	width: 1220px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1835
{
	z-index: 92;
	width: 1220px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1854
{
	z-index: 94;
	width: 1220px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1164-6
{
	position: absolute;
	width: 37px;
	min-height: 41px;
	border-style: none;
	background-color: transparent;
	top: 199px;
	left: 120px;
}

#u1164-6popup
{
	z-index: 96;
}

#u1671
{
	z-index: 102;
	vertical-align: top;
	width: 38px;
	height: 37px;
	background: url("../images/arrow-u1671.png") no-repeat 0px 0px;
}

#u1163-6
{
	position: absolute;
	width: 37px;
	min-height: 41px;
	border-style: none;
	background-color: transparent;
	top: 199px;
	left: 1063px;
}

#u1163-6popup
{
	z-index: 104;
}

#u1164,#u1163
{
	font-size: 1px;
	line-height: 0px;
}

#u1686
{
	z-index: 110;
	vertical-align: top;
	width: 38px;
	height: 37px;
	background: url("../images/arrow2-u1686.png") no-repeat 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1441
{
	z-index: 112;
	display: block;
	vertical-align: top;
	margin-left: 295px;
	top: -425px;
	margin-bottom: -311px;
	position: relative;
}

#u1102
{
	z-index: 27;
	min-height: 368px;
	background-color: #F5F5F5;
	padding-bottom: 52px;
}

#u1102_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#ppu1733-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 0px;
	margin-left: 119px;
}

#pu1733-5
{
	width: 0.01px;
	margin-left: 50px;
}

#u1733-5
{
	z-index: 38;
	width: 209px;
	min-height: 36px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: kreon, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1123-5
{
	z-index: 28;
	width: 175px;
	min-height: 36px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: kreon, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u2287
{
	z-index: 43;
	width: 478px;
	border-width: 2px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: #F5F5F5;
	margin-top: 25px;
	position: relative;
}

#u2183
{
	z-index: 45;
	width: 480px;
	min-height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu1705-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 0px;
	margin-left: 603px;
}

#u1705-5
{
	z-index: 33;
	width: 448px;
	min-height: 36px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: kreon, serif;
	font-weight: 400;
	position: relative;
}

#u1733,#u1123,#u1705
{
	color: #BE4040;
	font-family: kreon, serif;
	font-weight: 700;
}

#u2393
{
	z-index: 44;
	width: 478px;
	border-width: 2px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: #FFFFFF;
	margin-left: 16px;
	margin-top: 25px;
	position: relative;
}

#u2394
{
	z-index: 46;
	width: 480px;
	min-height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1102-bw
{
	z-index: 27;
	min-height: 368px;
}

#u1875
{
	z-index: 6;
	width: 542px;
	margin-left: 239px;
	margin-top: 15px;
}

#u1438-4
{
	z-index: 7;
	width: 160px;
	min-height: 16px;
	margin-right: -10000px;
}

#u1868-4
{
	z-index: 11;
	width: 41px;
	min-height: 16px;
	margin-right: -10000px;
	left: 170px;
}

#u1868-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u1870-4
{
	z-index: 15;
	width: 135px;
	min-height: 16px;
	margin-right: -10000px;
	left: 224px;
}

#u1870-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u1872-4
{
	z-index: 19;
	width: 84px;
	min-height: 16px;
	margin-right: -10000px;
	left: 372px;
}

#u1872-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u1873-4
{
	z-index: 23;
	width: 73px;
	min-height: 16px;
	margin-right: -10000px;
	left: 469px;
}

#u1873-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u1437-4
{
	z-index: 2;
	width: 980px;
	min-height: 16px;
	margin-left: 20px;
	margin-top: 1px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

