#u1374-6
{
	background-color: transparent;
	text-transform: uppercase;
	font-size: 26px;
	line-height: 31px;
	font-family: kreon, serif;
	font-weight: 700;
	position: relative;
}

#u1374-2
{
	color: #BE4040;
}

#u1374-3
{
	color: #000000;
}

#u1367,#u1368
{
	background-color: transparent;
	position: relative;
}

#u1371-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 16px;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: kreon, serif;
	font-weight: 300;
	position: relative;
}

#u1368:hover #u1371-4 p
{
	color: #BE4040;
	visibility: inherit;
}

#u1346,#u1347
{
	background-color: transparent;
	position: relative;
}

#u1348-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 16px;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: kreon, serif;
	font-weight: 300;
	position: relative;
}

#u1347:hover #u1348-4 p
{
	color: #BE4040;
	visibility: inherit;
}

#u1353,#u1354
{
	background-color: transparent;
	position: relative;
}

#u1356-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 16px;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: kreon, serif;
	font-weight: 300;
	position: relative;
}

#u1354:hover #u1356-4 p
{
	color: #BE4040;
	visibility: inherit;
}

#u1339,#u1340
{
	background-color: transparent;
	position: relative;
}

#u1342-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 16px;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: kreon, serif;
	font-weight: 300;
	position: relative;
}

#u1340:hover #u1342-4 p
{
	color: #BE4040;
	visibility: inherit;
}

#u1360,#u1363
{
	background-color: transparent;
	position: relative;
}

#u1365-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 16px;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: kreon, serif;
	font-weight: 300;
	position: relative;
}

#u1363:hover #u1365-4 p
{
	color: #BE4040;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu1338,#u1875
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1438-4,#u1868-4
{
	background-color: transparent;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1870-4
{
	background-color: transparent;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1872-4
{
	background-color: transparent;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1873-4
{
	background-color: transparent;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1368.MuseMenuActive #u1371-4 p,#u1347.MuseMenuActive #u1348-4 p,#u1354.MuseMenuActive #u1356-4 p,#u1340.MuseMenuActive #u1342-4 p,#u1363.MuseMenuActive #u1365-4 p,#u1868-4:hover p,#u1870-4:hover p,#u1872-4:hover p,#u1873-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u1437-4
{
	background-color: transparent;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

